.Detalle input[type="number"]::-webkit-outer-spin-button,
.Detalle input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.Detalle input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.Detalle input[type="number"]::-moz-focus-inner {
  border: 0;
}
